DEBUG=True
STORAGE_CONFIG__PATH="/app/media/"
ALLOW_ORIGINS="http://localhost,http://localhost:8080,http://localhost:8081,http://127.0.0.1,http://127.0.0.1:8080,http://127.0.0.1:8081"
DATASOURCE_CONFIG__DETA_KEY="*****************"
DATASOURCE_CONFIG__DETA_BASE="ytdl_dev"