{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": ["babel-plugin-styled-components", "@babel/transform-runtime", "@babel/plugin-proposal-class-properties"]
}